# Node / React
node_modules/
dist/
dist-ssr/
*.local

# Python
__pycache__/
*.py[cod]
*$py.class
*.env
.venv/
env/
venv/
ENV/

# Java
*.class
backend-java/bin/

# Logs and OS
*.log
.DS_Store
Thumbs.db
.vscode/
.idea/
